

/* ALIGNED FIELDSETS */

fieldset .form-row > label {
    text-align: left !important;
    padding-left: 15px !important;
}

.aligned label {
    /* display: block; */
    padding: 4px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
}
